<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.doc</key>
	<string>application/msword</string>
	<key>.docx</key>
	<string>application/vnd.openxmlformats-officedocument.wordprocessingml.document</string>
	<key>.rtf</key>
	<string>application/rtf</string>
	<key>.xls</key>
	<string>application/vnd.ms-excel application/x-excel</string>
	<key>.xlsx</key>
	<string>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</string>
	<key>.ppt</key>
	<string>application/vnd.ms-powerpoint</string>
	<key>.pptx</key>
	<string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
	<key>.pps</key>
	<string>application/vnd.ms-powerpoint</string>
	<key>.ppsx</key>
	<string>application/vnd.openxmlformats-officedocument.presentationml.slideshow</string>
	<key>.pdf</key>
	<string>application/pdf</string>
	<key>.swf</key>
	<string>application/x-shockwave-flash</string>
	<key>.dll</key>
	<string>application/x-msdownload</string>
	<key>.exe</key>
	<string>application/octet-stream</string>
	<key>.msi</key>
	<string>application/octet-stream</string>
	<key>.chm</key>
	<string>application/octet-stream</string>
	<key>.cab</key>
	<string>application/octet-stream</string>
	<key>.ocx</key>
	<string>application/octet-stream</string>
	<key>.rar</key>
	<string>application/octet-stream</string>
	<key>.tar</key>
	<string>application/x-tar</string>
	<key>.tgz</key>
	<string>application/x-compressed</string>
	<key>.zip</key>
	<string>application/x-zip-compressed</string>
	<key>.z</key>
	<string>application/x-compress</string>
	<key>.wav</key>
	<string>audio/wav</string>
	<key>.wma</key>
	<string>audio/x-ms-wma</string>
	<key>.wmv</key>
	<string>video/x-ms-wmv</string>
	<key>.mp3</key>
	<string>audio/mpeg</string>
	<key>.mp2</key>
	<string>audio/mpeg</string>
	<key>.mpe</key>
	<string>audio/mpeg</string>
	<key>.mpeg</key>
	<string>audio/mpeg</string>
	<key>.mpg</key>
	<string>audio/mpeg</string>
	<key>.rm</key>
	<string>application/vnd.rn-realmedia</string>
	<key>.mid</key>
	<string>audio/mid</string>
	<key>.midim</key>
	<string>audio/mid</string>
	<key>.rmi</key>
	<string>audio/mid</string>
	<key>.bmp</key>
	<string>image/bmp</string>
	<key>.gif</key>
	<string>image/gif</string>
	<key>.png</key>
	<string>image/png</string>
	<key>.tif</key>
	<string>image/tiff</string>
	<key>.tiff</key>
	<string>image/tiff</string>
	<key>.jpe</key>
	<string>image/jpeg</string>
	<key>.jpeg</key>
	<string>image/jpeg</string>
	<key>.jpg</key>
	<string>image/jpeg</string>
	<key>.txt</key>
	<string>text/plain</string>
	<key>.xml</key>
	<string>text/xml</string>
	<key>.html</key>
	<string>text/html</string>
	<key>.css</key>
	<string>text/css</string>
	<key>.js</key>
	<string>text/javascript</string>
	<key>.mht</key>
	<string>message/rfc822</string>
	<key>.mhtml</key>
	<string>message/rfc822</string>
</dict>
</plist>
